{{>head}}


{{>navbar}}



<div class="row">

    <div class="col-8">

        <h1>Gears Of War</h1>

        </br>
        </br>
       
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, incidunt quisquam. Alias quisquam velit iure ducimus aspernatur, corporis, veritatis obcaecati magnam eligendi ad, doloremque quidem rerum dolor debitis assumenda dolorem.
        </p>

    </div>

    <div class="col-4">
        <img src="https://store-images.s-microsoft.com/image/apps.6102.13510798887356280.9398b0dd-2ecf-4973-9380-576d1d374a25.92d12017-af9a-41ae-b97a-8213710cdb49?mode=scale&q=90&h=1080&w=1920" class="img-thumbnail"> 
        
    </div>


</div>


{{>footer}}